.podcast__{
    width: 100vw;
    height: 100vh;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 2rem; */
}
.pod_part{
   height: 95%;
   width: 95%;
   display: flex;
   /* border: 1px solid white; */
   justify-content: center;
    align-items: center;
    margin: 2rem;
}
.pod_Context{
   height: 90%;
   width: 80%;
   /* border: 1px solid white; */
   background-color: #3E3A3A;
   border-radius: 22px;
   margin: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* position: relative; */
   /* align-items: center; */
}
.p_head{
    border-bottom: 3px solid white;
    /* width: 90%; */
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    flex-direction: column;
    /* position: absolute;
    top: 2%;
    left: 25%; */
    /* align-self:baseline; */
}
.p_headline{
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    /* align-self: flex-end; */
}
.p_cont{
    color: white;
    font-size: 20px;
    margin: 15px;
    height: 85%;
    text-align: justify;
}
.pod_images{
    height: 90%;
    width: 80%;
    /* border: 1px solid white; */
    border-radius: 22px;
    background-color: #3E3A3A;
    margin: 3px;
    /* position: relative; */
}
.people_{
    display: grid;
    /* position: absolute;
    left: 20%;
    top: 20%; */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.pep_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pep_img img{
    width: 9rem;
    height: 9rem;
    /* max-width: 150px; */
    object-fit: cover;
}
.pep_name{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}
.people_1{
    margin: 2rem;
}
@media screen and (max-width:1000px) {
    .podcast__{
       height: auto;
    }
    .pod_part{
        flex-direction: column;
        height: auto;
    }
    .p_cont{
        font-size: 1rem;
    }
    .p_headline{
        font-size: 1.4rem;
    }
    .pod_Context,.pod_images{
        width: 100%;
    }
    .pep_img img{
        width: 6rem;
        height: 6rem;
    }
}
