.team{
    width: 100vw;
    /* height: 100vh; */
    background:#282828;
}
.team_l{
    height: 25px;
}
.team_header{
    height: 15%;
    /* border: 1px solid white; */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
.team_mem{
    width: 90%;
    height: 85%;
    /* border: 1px solid white; */
    margin: auto;
    /* column-count: 4; */
    padding: 2%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
}
.ind_mem{
    /* width:25%; */
    height: 70%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 00;
    line-height: 10px;
}
.mem_img{
    width: 100%;
    height: 70%;
    /* border: 1px solid red; */
    display: flex;
    align-items:center;
    justify-content: center;
}
.mem_img img{
    width: 85%;
    height: 90%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.mem_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mem_name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #EDEDED;
}
.mem_desig{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 33px;
    color: #EDEDED;
}
@media screen and (max-width:1000px) {
    .team_mem{
        grid-template-columns: repeat(2,1fr);
    }
    .mem_img{
        height: 240px;
        width: 100%;
    }
    .mem_img img{
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
    .mem_desig{
        font-size: 0.9rem;
    }
    .mem_name{
        font-size: 1rem;
    }
}