.about_us{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background: #282828;
}
.about{
    border: 4px solid green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto auto;
    width: 85%;
    padding: 1%;
}
.about_us_img{
    height: 499px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   /*border: 1px solid white;*/
}
.about_us_img img{
    width: 95%;
    height: 75%;
}
.about_us_context{
    /*border: 1px solid white;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 45%;
    height: 499px;
}
.about_us_{
    height: 85%;
    display: flex;
    flex-direction: column;
}
.about_us_header{
    width: 256px;
    height: 69px;
    margin: auto;
    margin-top: 00;
    margin-bottom: 5px;
    /*border: 1px solid white;*/
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about_us_para{
    width: 100%;
    height: auto;
    color: #FFFFFF;
   /*border: 1px solid white;*/ 
    background: rgba(83, 80, 80, 0.9);
    border-radius: 47px;
    padding: 18px;
    text-align: justify;
}
.about_us_para p{
    font-size: 1.5rem;
    margin: 00;
}
